<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title (click)="logout()" size="large">IFinanças</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button style="font-size: 2rem;" [routerLink]="['/contas']" expand="block" color="controle" fill="clear">Ir para página de contas!</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Footer
    </ion-title>
  </ion-toolbar>
</ion-footer>
