<ion-header>
  <ion-toolbar>
    <ion-icon style="font-size:2rem" [routerLink]="['/contas']" name="arrow-undo" color="controle" slot="start"></ion-icon>
    <ion-title><h2>Cadastro</h2></ion-title>
  </ion-toolbar>
</ion-header><br>

<ion-content class="iom-padding"><br>

  <form [formGroup]="contasForm" (submit)="registraConta()">
    <ion-item>
      <ion-icon name="person" color="controle" slot="start"></ion-icon>
      <ion-input formControlName="parceiro" placeholder="Parceiro Comercial" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="document" color="controle" slot="start"></ion-icon>
      <ion-input formControlName="descricao" placeholder="Descrição"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="wallet" color="controle" slot="start"></ion-icon>
      <ion-input type="number" formControlName="valor" placeholder="Valor"></ion-input>
    </ion-item><br><br>

    <ion-radio-group formControlName="tipo">
      <ion-item>
        <ion-label>A pagar</ion-label>
        <ion-radio slot="start" value="pagar"></ion-radio>
      </ion-item>
      
      <ion-item>
        <ion-label>A receber</ion-label>
        <ion-radio slot="start" value="receber"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-button type="submit" [disabled]="contasForm.invalid" expand="block" color="controle" fill="clear">Registrar</ion-button>
  </form>

</ion-content>
