<ion-header>
  <ion-toolbar>
    <ion-title><h2>Contas</h2></ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select [(ngModel)]="tipo"  (ionChange)="listarContas()">
        <ion-select-option value="todas">Todas</ion-select-option>
        <ion-select-option value="pagar">Pagar</ion-select-option>
        <ion-select-option value="receber">Receber</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  
  <ion-list>

    <ion-item *ngFor="let conta of listaContas">
      <ion-label>
        <h2>{{conta.parceiro}}</h2>
        <h2>{{conta.descricao}}</h2>
        <h2>R$ {{conta.valor}}</h2>
        <h2>{{conta.tipo}}</h2>
      </ion-label>
      <ion-icon stol="end" name="trash" color="controle" (click)="remove(conta)"></ion-icon>
    </ion-item>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="controle" [routerLink]="['/contas/cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
