<ion-content>
  <topo-login title="Esqueci minha senha"></topo-login>

  <form [formGroup]="forgotForm" (submit)="recoverPass()">
    <ion-item>
      <ion-icon name="mail" color="controle" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>

    <br /><br />

    <ion-button [disabled]="forgotForm.invalid" type="submit" expand="block" color="controle" fill="clear">Enviar</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar.</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
